*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --slate: #434455;
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --bgd-white: #FFFFFF;
  --cloud: #F4F4FD;
  --cornflower: #E7E9FC;
  --light-slate: #8e8f99;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--bgd-white);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: default;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  font-weight: 600;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 24px;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}

.button:hover,
.button:focus {
  color: var(--cloud);
  background-color: var(--iris);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  text-decoration: none;
  color: var(--navy-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--iris);
}

.logo-footer {
  color: var(--cloud);
}

.site-nav {
  display: flex;
}

.site-nav li + li {
  margin-left: 40px;
}

.link-menu {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--navy-blue);
  font-weight: 600;
  transition: color var(--animation);
}

.link-menu:hover,
.link-menu:focus {
  color: var(--slate);
}

.cont-list a {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--slate);
}

.cont-list li + li {
  margin-left: 40px;
}

.link:active {
  color: var(--iris);
}

.cont-menu {
  transition: color var(--animation);
}

.cont-menu:hover {
  color: var(--iris);
}

.site-nav .link:active {
  color: var(--iris);
}

.active-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--iris);
}

.site-nav .link.active-page::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--iris);
  border-radius: 2px;
  opacity: 1;
  transform: scale(1);
}

.site-nav .link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--iris);
  border-radius: 2px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after {
  transform: scaleX(1);

}

/* hero */

.hero {
  color: var(--bgd-white);
  max-width: 1600px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero/bg-laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 112px 56px 109px;
  
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 317px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  cursor: default;
}

.btn-hero {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--bgd-white);
  background-color: var(--iris);
  border: 0;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation), box-shadow var(--animation);
}

.btn-hero:hover,
.btn-hero:focus {
  background: var(--iris);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btn-hero:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  min-width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.close-btn:active {
  transform: scale(1.1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-input-icon {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.modal-icon {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--navy-blue);
  transition: fill var(--animation);
}

.subscribe-btn {
  display: flex;
  color: var(--bgd-white);
  width: 168px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: var(--iris);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field.last {
  margin-bottom: 0;
}

.modal-form-input-title {
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-slate);
}

.modal-form-input {
  width: 100%;
  padding-left: 35px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--animation);
}

.modal-form-input:focus {
  border-color: var(--iris);
  outline: none;
}

.modal-form-input:focus+.modal-input-icon .modal-icon {
  fill: var(--iris);
}

.form-input-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--animation);
}

.form-input-comment:focus {
  outline: none;
  border-color: var(--iris);
}

.form-input-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input-comment:focus::placeholder {
  color: var(--iris);
}

.form-field-checkbox {
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
  align-items: center;
}

.check-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  color: transparent;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--navy-blue);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click-icon {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translate(-50%);
  transform: translateY(-50%);
  fill: currentColor;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-link {
  text-decoration: none;
  color: var(--iris);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.checkbox:checked+.check-icon {
  background-color: var(--iris);
  border: 1.25px solid transparent;
}

.checkbox:checked+.check-icon .click-icon {
  fill: var(--cloud);
}

.modal-form-submit {
  min-width: 170px;
  height: 51px;
  color: #fff;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  transition: box-shadow var(--animation), background-color var(--animation);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-form-submit:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features ul {
  display: flex;
}

.features ul li {
  width: 264px;
  margin-bottom: 0;
}

.features ul {
  justify-content: space-between;
}

.features-text {
  margin-top: 8px;
  margin-bottom: 0;
}

.list-featutes:not(:last-child) {
  margin-right: 24px;
}

.work {
  display: none;
}

.work-item {
  position: relative;
}

.work-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(46, 47, 66, 0.4);
  color: var(--cloud);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
}

.work-list-text:hover {
  cursor: default;
}

/* team */

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--cloud);
}

.team-text {
  margin: 0;
  margin-bottom: 12px;
  margin-top: 8px;
}

.team-title {
  margin-bottom: 72px;
}

.team ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.person {
  background-color: var(--bgd-white);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.person-wrap {
  padding: 32px 16px 36px;
}

.svg-icon {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
}

.social>li {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
}

.social>li:not(:last-child) {
  margin-right: 24px;
}

.logo-social {
  fill: currentColor;
}

/* Customers */

.list-customers {
  display: flex;
}

.customer-item {
  width: 168px;
  height: 88px;
  margin-right: 24px;
}

.customer-item:last-child {
  margin-right: 0;
}

.customer-link {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--animation);
}

.customer-icon {
  fill: var(--light-slate);
  transition: fill var(--animation);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--iris);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--iris);
}

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-customers {
  margin-bottom: 72px;
}

/* Footer */

.footer {
  padding-top: 100px;
  height: 310px;
  background-color: var(--navy-blue);
  color: var(--cornflower);
}

.footer-wrap {
  display: flex;
}

.footer-text {
  margin: 0;
  margin-left: 0;
  margin-top: 16px;
  width: 264px;
}


.social-footer-list {
  display: flex;
}

.social-footer {
  margin-left: 120px;
}

.social-footer a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-footer-list > li {
  width: 40px;
  height: 40px;
}

.footer-wrap h4 {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bgd-white);
}

.social-footer-icon {
  background-color: var(--slate);
  border-radius: 50%;
  transition: background-color var(--animation);
}

.footer-svg {
  fill: currentColor;
}

.social-footer-list > li:hover {
  background-color: #31d0aa;
}

.social-footer-icon:not(:last-child) {
  margin-right: 16px;
}

.subscribe-form {
  display: flex;
  height: 80px;
  margin-left: 80px;
}

.subscribe-icon {
  fill: currentColor;
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subscribe-btn:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;  
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

.subscribe-input:focus {
  outline: none;  
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subscribe-button-wrap {
  display: flex;
  align-items: flex-end;
  margin-left: 24px;
}

/* portfolio */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item {
  margin-right: 20px;
  border-radius: 4px;
}

.filter-item:hover,
.filter-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-list > li {
  min-width: 48px;
}

.portfolio-menu {
  padding-bottom: 120px;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-pf {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.pf-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pf-item {
  margin-bottom: 48px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 360px;
  transition: box-shadow var(--animation);
}

.pf-item:hover,
.pf-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-pf {
  margin: 0;
  margin-top: 8px;
}

.list-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 0.5px solid var(--cloud);
}

.pf-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.pf-item:not(:nth-child(3n + 3)) {
  margin-right: 24px;
}

.pf-img-wrap {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.filter-card-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 300px;
  margin: 0;
  padding: 40px 32px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--animation);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--iris);
  color: var(--cloud);
  letter-spacing: 0.02em;
  position: absolute;
}

.pf-item:hover .filter-card-text {
  transform: translate(0, 0);
}

.scene {
  width: 360px;
  height: 300px;
  perspective: 600px;  
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.filter-card-text-scene {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud);
  padding: 40px 32px;  
}

.pf-list .pf-item:hover .card {
  transform: translateX(-100%) rotateY(-180deg);  
}

.card-face {
  position: absolute;
  backface-visibility: hidden;  
}

.card-back {
  width: 360px;
  height: 300px;
  background-color: var(--iris);
  transform: rotateY(180deg);  
}

/* mobile styles */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .hidden-phone {
    display: none;
  }

  .btn-burger {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 22px;
  }
  
  .mobile-menu {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    background-color: var(--bgd-white);
    visibility: hidden;
    pointer-events: none;
  }

  .close-btn {
    right: 40px;
    top: 40px;
  }

  .mobile-menu-wrap {
    position: relative;
    width: 100%;
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 40px 40px;
  }

  .mobile-menu-item {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-list > ul {
    margin-bottom: 40px;
  }

  .cont-list li + li {
    margin-top: 40px;
    margin-left: 0;
  }

  .cont-mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }

  .cont-mail {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-menu-social {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }

  .mobile-menu-list .mobile {
    margin-bottom: 48px;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
   

  .hero {
    color: var(--bgd-white);
    max-width: 1600px;
    background-color: var(--navy-blue);
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg-mob.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 109px;
    padding-left: 56px;
    padding-right: 56px;
  }

  @media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), 
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg-mob@2.jpeg);
  }
}

  .hero-title {
    max-width: 317px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 80px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .modal {
    width: 392px;
  }
  
  .features ul {
    display: block;
  }

  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .icon-features {
    display: none;
  }

  .features ul > li:not(:last-child) {
    margin-bottom: 72px;
  }

  .features h3 {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
  }

  .features ul li {
    width: 100%;
  }

  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .team-list {
    flex-wrap: wrap;
  }

  .person {
    margin-left: auto;
    margin-right: auto;
  }

  .person:not(:last-child) {
    margin-bottom: 72px;
  }

  .list-customers {
    flex-wrap: wrap;
  }

  .customer-item {
    margin: 0;
    width: calc((100% / 2) - 8px);
  }

  .customer-item:nth-child(odd) {
    margin-right: 16px;
  }

  .customer-item:nth-child(-n + 4) {
    margin-bottom: 72px;
  }
  
  .footer-wrap {
    display: block;
  }

  .logo-footer {
    display: block;
    text-align: center;
    margin-bottom: 16px;
  }

  .footer-text {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .footer {
    height: auto;
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .social-footer {
    margin: 0;
    text-align: center;

    margin-bottom: 72px;
  }

  .social-footer-list {
    justify-content: center;
  }
  .subscribe-form {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .subscribe-label {
    width: 100%;
  }

  .subscribe-title {
    display: block;
    text-align: center;
  }

  .subscribe-input {
    margin-bottom: 16px;
    width: 100%;
  }

  .filter-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .filter-item:nth-child(-n + 3) {
    margin-bottom: 16px;
  }

  .portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .pf-item:not(:nth-child(3n + 3)) {
    margin: 0;
  }

  .pf-list {
    justify-content: center;
  }
 

  .pf-item {
    width: 396px;
  }

  .pf-img-wrap img {
    width: 396px;
  }

  .pf-img-wrap {
    width: 396px;
  }

  .scene {
    width: 396px;
  }

  .card-face {
    width: 396px;
  }

  .filter-card-text {
    height: 100%;
    width: 100%;
  }

  .pf-item:not(:last-child) {
    margin-bottom: 48px;
  }
}



/* tablet styles */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .cont-list li + li {
    margin-left: 0;
  }

  .link-menu {
    padding-bottom: 22px;
  }

  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg-tab.jpeg);
  }

  @media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), 
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero/bg-tab@2.jpeg);
    }
  }

  .modal {
    top: 384px;
  }
  
  .icon-features {
    display: none;
  }

  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .features ul {
    flex-wrap: wrap;
  }

  .list-featutes:not(:last-child) {
    margin-right: 0;
  }

  .list-featutes:nth-child(-n + 2) {
    margin-bottom: 72px;
  }

  .features ul li {
    width: calc((100% / 2) - 24px);
  }

  .features h3 {
    font-weight: 500;
    font-size: 36px;
  } 
 
  .team-container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1199px) {
    .person:nth-child(-n + 2) {
      margin-bottom: 56px;
    }
  }
  
  .list-customers {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .customer-item {
    margin: 0;
    width: calc((100% / 3) - 24px);
  }

  .customer-item:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
  .list-customers {
    padding-left: 92px;
    padding-right: 92px;
  }

  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .footer-wrap {
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .subscribe-form {
    margin: 0;
  }
  .logo-tablet {
    margin-bottom: 72px;
  }
  .footer {
    height: auto;
    padding-top: 96px;
    padding-bottom: 96px;    
  }

  .social-footer {
    margin-bottom: 72px;
    margin-left: 24px;    
  }

  .pf-item:not(:nth-child(3n + 3)) {
    margin-right: 0;
  }

  .pf-item {
    width: auto;

  }
  .pf-img-wrap {
    width: auto;
  }
  
  .pf-item:nth-last-child(-n + 3) {
    margin-bottom: 72px;
  }

  .pf-item:last-child {
    margin-bottom: 0;
  }

  .portfolio-menu {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  
  .filter-list {
    margin-bottom: 64px;
  }
}

/* laptop styles */

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;    
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    margin-left: 77px;
  }

  .cont-list {
    display: flex;
    margin-left: auto;
  }

  .cont-list li + li {
    margin-left: 40px;
  }

  .link-menu {
    padding-bottom: 24px;
  }

  .modal {
    top: 370px;
  }

  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 192px;
    padding-bottom: 192px;    
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg-laptop.jpg);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), 
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero/bg-latop@2.jpeg);
    }
  }

  .features ul li {
    width: 264px;
    margin-bottom: 0;
  }

  
  .icon-features {
    display: flex;
    flex-wrap: nowrap;
  }

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-text {
    font-weight: 400;
  }

  .features h3 {
    font-size: 20px;
  }

  .list-featutes:nth-child(-n + 2) {
    margin-bottom: 0;
  }
 
  .work {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
  }

  .list-work {
    display: flex;
    justify-content: space-between;
  }

  .work-title {
    margin-bottom: 72px;
  }

  .list-work > li:not(:last-child) {
    margin-right: 24px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .team-list > li:not(:last-child) {
    margin-right: 24px;
  }

  .list-customers {
    display: flex;
    flex-wrap: nowrap;
  }

  .customer-item {
    width: 168px;
    height: 88px;
    margin-right: 24px;
  }

  .customer-item:last-child {
    margin-right: 0;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title-customers {
    margin-bottom: 72px;
  }

  .list-customers {
    padding: 0;
  }

  .customer-item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrap {
    justify-content: space-between;
  }

  .social-footer {
    margin-bottom: 0;
  }

  .pf-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .filter-list {
    margin-bottom: 72px;
  }

  .portfolio-menu {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}